* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensures the container fills the full viewport height */
}

.calc {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1; /* Makes each row expand equally */
}

.num {
  background-color: #333333;
  color: #ffffff;
}

.operators {
  background-color: #ff9f0a;
  color: #ffffff;
}

.misc {
  background-color: #A5A5A5;
  color: #000000
}

button {
  flex: 1; /* Makes each button fill its parent row equally */
  margin: 5px; /* Adds space between buttons */
  font-size: 30px; /* Adjust for readable button text */
  border: none;
  border-radius: 200px;

}

.display {
  height: 75px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 75px;
  padding: 5px;
}

